<html>
<body>

<span>WELCOME TO THE THUNDERDOME</span>
<!-- {{.}} references the current object. -->
{{#userName}}
Hello, {{.}}!
{{/userName}}

<!-- if name does NOT exist, run this code -->
{{^userName}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName"/>
    <button type="submit">Login</button>
</form>
{{/userName}}
<form action="/add-message" method="post">
    <input type="text" placeholder="" name="messageText"/>
    <button type="submit">Submit Message</button>
</form>
    <ul>
        {{#messages}}
        <li>
            {{messageText}}
            <form action="/delete-message" method="post">
                <input type ="hidden" name ="id" value="{{id}}"/>
            <button type="submit">Delete</button>
        </form>
        </li>
        {{/messages}}

    </ul>
</body>
</html>